Repository wooqash/kbb-instal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix

.lintstagedrc:

{
  "./**/*.{ts,tsx,js,jsx,css}": "npm run lint",
  "./**/*.{ts,html,json}": "npm run format:fix",
  "./**/*.{css,scss}": "npm run format:fix"
}

added load more pictures button
  index.html
  src/scripts/gallery.ts
Due: npm run lint, npm run format:fix

refactor animations & hero scripts
  src/scripts/animations.ts
  src/scripts/hero.ts
  src/style.css
Due: npm run lint, npm run format:fix

added scrollToTop button
  index.html
  src/index.ts
  src/scripts/scrollTop.ts
  src/style.css
Due: npm run lint, npm run format:fix

added test workflow
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

updated eslint package
  package-lock.json
  package.json
Due: npm run format:fix

force installing dependencies on test env
  .github/workflows/test.yml
Due: none

added contact form
  index.html
  package-lock.json
  package.json
  src/api/send-email.php
  src/index.ts
  src/scripts/contact-form.ts
  src/style.css
Due: npm run lint, npm run format:fix

updated image alts & styles
  index.html
  src/scripts/header.ts
  src/scripts/scrollTop.ts
  src/style.css
Due: npm run lint, npm run format:fix

updated workflows
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

fixed wrong image paths
  index.html
  public/firma-i-ludzie.webp
Due: npm run format:fix

added vendor folder to workflows
  .github/workflows/prod.yml
  .github/workflows/test.yml
  .gitignore
Due: none

updated @types/node package
  package-lock.json
  package.json
Due: npm run format:fix

removed vendor dir from repo
  .github/workflows/prod.yml
  .github/workflows/test.yml
  .gitignore
Due: none

resolved issue with finding the grecaptch name
  global.d.ts
  package-lock.json
  package.json
  src/scripts/contact-form.ts
  tsconfig.json
Due: npm run lint, npm run format:fix

added secret key exchange in workflow build
  .github/workflows/prod.yml
  .github/workflows/test.yml
Due: none

added some console logs
  src/api/send-email.php
Due: none

excluded some files & added some console log for debug
  .gitignore
  .lintstagedrc
  .stylelintignore
  eslint.config.ts
  src/scripts/contact-form.ts
  tsconfig.json
Due: npm run lint, npm run format:fix

updated send-email PHP script
  src/api/send-email.php
Due: none

added loading state on submit button
  index.html
  src/api/send-email.php
  src/scripts/contact-form.ts
  src/style.css
Due: npm run lint, npm run format:fix

added htaccess to ignore
  .gitignore
Due: none

changed text on the page
  index.html
Due: npm run format:fix

updated email look
  src/api/send-email.php
  src/scripts/forms.ts
Due: npm run lint, npm run format:fix

some style fixes
  src/scripts/header.ts
  src/scripts/protect-info.ts
  src/style.css
Due: npm run lint, npm run format:fix

exchanged cwk to rotenso logo
  public/logotypes/rotenso.png
  public/logotypes/rotenso.webp
Due: none

added custom error messages for required fields
  src/scripts/contact-form.ts
Due: npm run lint, npm run format:fix

exchanged logo
  index.html
  src/style.css
Due: npm run lint, npm run format:fix

added missing file
  public/kbb-instal-logo.png
  src/style.css
Due: npm run lint, npm run format:fix

improved accessibility color contrast
  index.html
  src/style.css
Due: npm run lint, npm run format:fix

removed uneeded files
  public/hero-1-600.webp
  public/kbb-logo-alt.svg
  public/kbb-logo.png
  public/kbb-logo.svg
Due: none

swapped images
  index.html
  public/firma-i-ludzie.webp
  public/kbb-instal-logo.png
  public/kbb-instal-logo.webp
  public/projekt.webp
  src/style.css
Due: npm run lint, npm run format:fix

added favicons
  favicon.svg
  index.html
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
Due: npm run format:fix

improved outlines
  src/style.css
Due: npm run lint, npm run format:fix

added script for cookie consent banner
  index.html
Due: npm run format:fix

exchanged too long alts & added aria-labels for buttons
  index.html
Due: npm run format:fix

improved iframe for google maps
  index.html
Due: npm run format:fix

added border-radius css vars
  src/style.css
Due: npm run lint, npm run format:fix
